@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import "~antd/dist/antd.css";
* {
  font-family: "Lato", sans-serif;
}

.home,
.reports,
.products,
.team,
.notice,
.reports .test {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

th,
td {
  border: 1px solid #444444;
  padding: 10px;
  font-size: 50;
  white-space: break-spaces;
}
.App {
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.root {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.board_LIST {
  width: 1050px;
  height: 100%;
  min-height: 100%;
}
.search_box {
  display: flex;
  flex-direction: row;
}

.main-footer {
  background-color: grey;
}
.test-nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
}
.test {
  border: 1px solid #444444;
}
.P_CARD {
  margin: 20px;
  max-height: 1200px;
}

@media screen and (max-width: 768px) {
  .P_CARD {
    margin: 10px;
  }
}
.P_Image {
  max-width: 100%;
  height: auto;
}
.P_name {
  white-space: nowrap;
  font-size: auto;
}
.sale {
  color: red;
}
.detail_info {
  justify-content: space-between;
  padding: 20px;
}
.detail_name {
  font-size: 35px;
}
.detail_price_box {
  font-size: 30px;
  border-bottom: 1px solid #444444;
}
.detail_card {
  text-align: center;
}
.Detail_Image {
  max-width: 100%;
  height: auto;
}
.detail_product_image {
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  display: block;
}
.detail_info_button {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
}
.option_box {
  font-weight: bold;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
}
.pay_box {
  border-top: 1px solid #444444;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
