@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import "~antd/dist/antd.css";
* {
  font-family: "Lato", sans-serif;
}

.home,
.reports,
.products,
.team,
.notice,
.reports {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

th,
td {
  border: 1px solid #444444;
  padding: 10px;
  font-size: 50;
  white-space: break-spaces;
}
.App {
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.root {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.board_LIST {
  width: 1050px;
  height: 100%;
  min-height: 100%;
}
.search_box {
  display: flex;
  flex-direction: row;
}

.main-footer {
  background-color: grey;
}
.test-nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
}
.test {
  padding-top: 90px;
}
.P_CARD {
  max-height: 1200px;
}

@media screen and (max-width: 768px) {
  .P_CARD {
  }
}
.P_Image {
  max-width: 100%;
  height: auto;
}
.P_name {
  white-space: nowrap;
  font-size: auto;
}
.sale {
  color: red;
}
.detail_info {
  justify-content: space-between;
  padding: 20px;
}
.detail_name {
  font-size: 35px;
}
.detail_price_box {
  font-size: 30px;
  border-bottom: 1px solid #444444;
}
.detail_card {
  text-align: center;
}
.Detail_Image {
  max-width: 100%;
  height: auto;
}
.detail_product_image {
  text-align: center;
  display: block;
}
.detail_info_button {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
}
.option_box {
  font-weight: bold;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
}
.pay_box {
  border-top: 1px solid #444444;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
.topbar {
  background: white;
  position: fixed;
  top: 66px;
  width: 100%;
  z-index: 99;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #444444;
  padding: 8px;
}
.topmenu {
  font-size: 15px;
  margin-left: 15px;
}
.cart_page {
  padding-top: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cart_oreder {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
.cart_button {
  padding: 8px;
  background-color: black;
  color: aliceblue;
  width: 48%;
}
.cart_button2 {
  padding: 8px;
  background-color: black;
  color: aliceblue;
  margin: 10px;
  width: 45%;
}
.cart_card {
  border-bottom: 1px solid #444444;
  padding: 20px;
  display: flex;
}
.cart_card_image {
  width: 90px;
  margin-right: 20px;
}
.cart_wrap {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #444444;
}
.payment_wrap {
  border-bottom: 1px solid #444444;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 15px;
}
.div_input {
  display: flex;
  align-items: center;
  padding-right: 13px;
}
.detail_page {
  padding-top: 75px;
}
